<!DOCTYPE html>
<html>
<head>
  <title>MeetupsMap</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='ui fixed inverted menu'>
    <a class="title item">Meetups Map Viewer</a>
    <div class='right menu'>
      <div class='item'>
        <div class="ui inverted red button">
          <%= link_to "Sign in with Meetup", "https://secure.meetup.com/oauth2/authorize" %>
        </div>
      </div>
    </div>
  </div>

<%= yield %>

</body>
</html>
